section layout="row" layout-align="center center" layout-sm="column" layout-wrap=""
  img src="images/wordmark.png" alt="Burton"


section layout="row" layout-align="center center" layout-sm="column" layout-wrap=""
  md-button.md-raised.md-primary ng-click="authenticate('google')"  Google | UMN

